version: '3'

services:
  devnet:
    build:
      context: ..
      dockerfile: vm/Dockerfile.ganache
    entrypoint: ganache-cli
    command: -b 3
  devbox:
    build:
      context: ..
      dockerfile: vm/Dockerfile.truffle
    tty: true
    stdin_open: true
    volumes:
      - ../src/:/src/
    depends_on:
      - "devnet"
      
